<div class="container">
  <div class="row">
    <div class="inner_header col-xs-12 col-sm-7">
      <div class="row">
        <div class="col-xs-12" id="reports">
          <h1>Crystal Trends</h1>
          <h4>Industry-leader research at your fingertips provided by Wintergreen Research, the world leader in market research!</h4>
          <%= render 'get_reports' %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="row">
        <div class="col-xs-12">
          Sign up today to get notifications of new research reports
        </div>
      </div>
    </div>
  </div>        
</div>
