// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#header {
  color: #595959
}

.call_us {
  margin-top: 20px;
  & h2 {
    font-family: Arvo;
    font-size: 21px;
    color: #595959;
  }
  & p a {

  }
}